{% extends 'base.html.twig' %}

{% block title %}DeviceDevice index{% endblock %}

{% block body %}
    <h1>DeviceDevice index</h1>

    <table
        class="
            table
            table-striped
            table-bordered
            table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Companies</th>
            </tr>
        </thead>
        <tbody>
        {% for device_device in device_devices %}
            <tr>
                <td>{{ device_device.name }}</td>
                <td>{{ device_device.id }}</td>
                <td>{{ device_device.tCompanyCompanies|join(', ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
